@media screen and (min-width: 64em) {
    .page-header {
    	padding: 2rem 6rem 0.3rem; 
    }
    body .page-header:nth-child(2){
    	padding:1rem 6rem;
    }
	span.btn {
	    padding: 0.5rem 0.75rem;
	    display: inline-block;
	    margin-bottom: 1rem;
	    color: rgba(0, 0, 0, 0.7);
	    background-color: rgba(0, 0, 0, 0.08);
	    border-color: rgba(0, 0, 0, 0.2);
	    border-style: solid;
	    border-width: 1px;
	    border-radius: 0.3rem;
	    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	    cursor: pointer;
	    font-size: 1rem
	}
	span.btn:hover{
		background-color: rgba(0, 0, 0, 0.08);
	    color: rgba(0, 0, 0, 0.3);
	}
	span.cur{
		background-color: rgba(0, 0, 0, 0.08);
	    color: rgba(0, 0, 0, 0.3);
	    border-color: rgba(0, 0, 0, 0);
	}
}
.note{
	margin-bottom:2rem;
}
.search{
	position: relative;
}
.search input[type=button]{
	position: absolute;
	top:0;
	right:28.45rem;
	color:#666;
	height: 2.2rem;
	padding:0 1rem;
}
.search input:nth-child(2){
	right:33.4rem;
}
.search input:first-child{
	width:50rem;
	height:2.2rem;
	color:#666;
	padding:0 0.5rem;
}
.time{
	float:left;
}
.msg{
	overflow: hidden;
	color:#aaa;
	font-size: 0.8rem;
	margin-left:0.2rem;
}
.icon{
	float:right;
}

.resources-list a{
	margin-right:2rem;
}