.words textarea{
	width:100%;
	height:6rem;
	resize:none;
	resize:vertical;
}
.words-list{
	border-bottom:1px solid #eee;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
.reply{
	padding-left:1rem;
	font-size: 0.9rem;
}
.reply p span:first-child{
	display: inline-block;
	min-width:4.2rem;
	text-align: center;
}
.reply .ivytry{
	color:#155799;
}
.reply .other{
	color:#159957;
}
.time{
	color:#aaa;
	font-size: 0.8rem;
	margin-left:0.2rem;
}